*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
  max-width: 400px;
  margin: 120px auto;
  padding: 20px;
  background-color: #e0dede;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.103);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  padding-right: 40px; 
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; 
}

.password-container {
  position: relative; 
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

.password-toggle:hover {
  color: #333;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2c6e49;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

button:hover {
  background-color: #199157;
  transition: 0.5s ease-in-out;
}

.google-login {
  margin-top: 10px;
  background-color: #db4437;
}

.google-login:hover {
  background-color: #c92f1a;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.role-select {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.role-select label {
  font-size: 16px;
  margin: auto;
}

.register-link {
  text-align: center;
  margin-top: 15px;
}

.register-link a {
  color: #2c6e49;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}
